<template>
    <Container flex column alignCenter>
        <h1>Ma page électricité</h1>
        <ul id="example-1">
        <br>
            <li v-for="item in electricity" :key="item.id">
                <div>
                    <p>heures creuses : {{ item.indexLow }} kWh</p>
                    <p>heures d'affluence : {{ item.indexhigh }} kWh</p>
                    <br>
                </div>
            </li>
        </ul>
    </Container>
</template>

<script>
import { mapGetters } from 'vuex'
import Container from '../elements/Container'

export default {
    name: 'Electricity',
    components: {
        Container
    },
    computed: {
        ...mapGetters([
            'electricity',
            'electricityMeter'
        ])
    },
    created() {
        this.$store.dispatch('loadElectricity'),
        this.$store.dispatch('loadElectricityMeter')
    }
}
</script>

