<template>
    <Container appbar secondary :currentTheme=currentTheme >
        <div>
            <Button iconButton @click="openCloseDrawer(drawerState)"><img :src=menuIcon alt="menu"></Button>
            <h1>Appbar</h1>
        </div>
        <ul>
            <li>{{ currentNavLinks.about }}</li>
            <li>{{ currentNavLinks.skills }}</li>
            <li>{{ currentNavLinks.experiences }}</li>
            <li>{{ currentNavLinks.education }}</li>
            <li>{{ currentNavLinks.portfolio }}</li>
        </ul>
        <div>
            <Button :currentTheme=hortensia secondary rounded 
                @click="setCurrentTheme(hortensia)"
            />
            <Button :currentTheme=corail secondary rounded 
                @click="setCurrentTheme(corail)"
            />
            <Button :currentTheme=sunset secondary rounded 
                @click="setCurrentTheme(sunset)"
            /> 
            <Button @click="setCurrentLanguage(english)"> anglais </Button>
            <Button @click="setCurrentLanguage(french)"> français </Button>
        </div>
    </Container>
</template>

<script>
import Container from '../elements/Container'
import Button from '../elements/Button'
import menuIcon from '../assets/icons/menu-24px.svg'
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'Appbar',
    components: {
        Container,
        Button,
    },
    data() {
        return {
           menuIcon: menuIcon, 
        } 
    },
    computed: {
        ...mapGetters([
            'currentTheme',
            'hortensia',
            'corail',
            'sunset',
            'drawerState',
            'english',
            'french',
            'currentLanguage',
            'currentNavLinks'
        ])
    },
    methods: {
        ...mapActions([
            'setCurrentTheme',
            'openCloseDrawer',
            'setCurrentLanguage'
        ])
    }

}
</script>

<style scoped>
    
</style>