<template>
    <Container drawer secondary :currentTheme=currentTheme v-if="drawerState === true">
        <h1>Titre</h1>
        <button>
         coucou bouton
        </button>
        
        
    </Container>
</template>


<script>
import Container from '../elements/Container'
import { mapGetters } from 'vuex'

export default {
    name: 'Drawer',
    components: {
        Container,
    },
    computed: {
        ...mapGetters([
            'currentTheme',
            'drawerState',
        ])
    },
}
</script>
