<template>
    <div>
        <h1>TodoList</h1>
        <input type="text" v-model="newTodo" placeholder="ajouter une todo" @keyup.enter="addTodo(newTodo)">
        <ul>
            <h2>Toutes les todos</h2>
            <li v-for="todo in allTodos" :key="todo.content">
                {{ todo.content }}
            </li>
        </ul>
        <ul>
            <h2>les finies {{completedTodosCount}}</h2>
            <li v-for="todo in completedTodos" :key="todo.content">
                {{ todo.content }}
            </li>
        </ul>
        <ul>
            <h2>les pas finies {{remainingTodosCount}}</h2>
            <li v-for="todo in remainingTodos" :key="todo.content">
                {{ todo.content }}
            </li>
        </ul>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    name: 'TodoList',
    data() {
        return {
            newTodo: ""
        }
    },
    computed: {
        ...mapGetters([
            'allTodos',
            'completedTodos',
            'remainingTodos',
            'completedTodosCount',
            'remainingTodosCount'
        ])
    },
    methods: {
        ...mapActions([
            'addTodo',
        ])
    }
}
</script>

<style scoped>
    
</style>