<template>
  <div id="app">
      <Appbar/>
    <main>
      <Drawer/>
      <Electricity/>
    </main>
  </div>
</template>

<script>
import Appbar from './components/Appbar'
import Drawer from './components/Drawer'
import Electricity from './pages/Electricity'

export default {
  name: 'App',
  components: {
    Appbar,
    Drawer,
    Electricity
  },
}
</script>

<style>
@import './assets/reset.css';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  min-height: 100vh;
}
</style>
